# Node dependencies (Crucial: never push this to Git)
node_modules/
npm-debug.log

# Build output directories
dist/
tmp/
out-tsc/
bazel-out/

# Environment variables (Keeps your API keys and secrets safe)
.env
.env.local

# Mac system files
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln